/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 221, 203);
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

h1 {
    font-size: 24px; 
    margin: 0; 
}
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    margin-bottom: 15px;
    position: relative; /* Establecer posición relativa */
}

main {
    width: 70%;
    margin: 60px auto 0;
}

#seccion1 {
    background-color: #d44b4b;
    
}

#seccion2 {
    background-color: #4e1515;
    text-align: center;
    padding: 20px; 
}

.boton-descarga {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px;
    margin-top: 20px;
    display: block; 
    margin: 20px auto; 
}

.boton-descarga:hover {
    background-color: #45a049; 
}


section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    margin-bottom: 15px;
    position: relative; /* Establecer posición relativa */
}

h3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #970000; /* Color de la línea */
    top: 50%;
    left: -60px; /* Ajusta la posición de la línea */
}

h3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #970000; /* Color de la línea */
    top: 50%;
    right: -60px; /* Ajusta la posición de la línea */
}


footer {
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}


.proyectos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.proyectos li {
    margin-bottom: 15px;
    background-color: #797979;
    border: 1px solid #797979;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.proyectos li:hover {
    transform: scale(1.05);
}

.proyectos h1 {
    font-size: 1.2em;
    color: #792222;
    margin-bottom: 8px;
}
.proyectos h2 {
    font-size: 1.2em;
    color: #b33300;
    margin-bottom: 8px;
}

.proyectos p {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
    margin: 0;
}


.lenguajes-lista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.lenguajes-lista li {
    width: calc(30% - 20px);
    margin-bottom: 15px;
    background-color: #cfcfcf;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.lenguajes-lista li:hover {
    transform: scale(1.05);
}

.lenguajes-lista h4 {
    font-size: 1.2em;
    color: #991a16;
    margin-bottom: 8px;
}

.lenguajes-lista p {
    font-weight: bold;
    font-size: 14px;
    color: #363636;
    line-height: 1.4;
    margin: 0;
}



form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ff2600;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b30000;
}


.p1F {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    margin-bottom: 20px; 
    color: #141414; 
}

.p2F {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    margin-bottom: 20px; 
    color: #e2e2e2; 
    font-weight: bold;
}

li {
    background-color: #6d6d6d; /* Gris claro */
}
